/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

/*
 *= require components/button
 *= require components/toggle
 *= require components/checkbox
*/
body {
  text-align: center;
  margin: 0;
  padding: 0 16px;
  background-color: #eee;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  z-index: 10000000000;
}

.header-title {
  margin: 16px;
  font-size: 20px;
  text-align: left;
}

.header + * {
  margin-top: 80px;
}

.title {
  margin-bottom: 0;
}

.title-note {
  margin-top: 0;
}

.container {
  display: flex;
  align-items: flex-start;
  height: calc(100vh - 80px - 400px);
  margin-top: 80px;
  margin-bottom: 250px;
  overflow-y: auto;
}

.lists {
  margin: 0;
  padding: 0;
  text-align-last: left;
  background-color: #fff;
  color: #ccc;
  border-radius: 8px;
}

.list-item {
  list-style: none;
  padding: 8px;
  cursor: pointer;
}

.list-item.-selected {
  background-color: #ccc;
  color: #000;
  cursor: default;
}

.list-item:first-of-type {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.item:last-of-type {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.tasks {
  flex: 1;
  margin-left: 16px;
}

.task {
  display: flex;
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;
}

.task:nth-of-type(n + 2) {
  margin-top: 16px;
}

.task-title {
  margin: 0;
  margin-left: 16px;
  flex: 1;
  text-align-last: left;
}

.task-delete-button.button {
  background-color: transparent;
  color: #ccc;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.task-delete-button:hover {
  color: #222;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: calc(100% - 32px);
  height: 350px;
  background-color: #fff;
  border-top: 1px solid #ccc;
  z-index: 10000000000;
  padding: 16px;
}

.new-task {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  text-align-last: left;
}

.new-task:nth-of-type(n + 2) {
  margin-top: 16px;
}

.new-task-label {
  font-weight: 700;
}

.new-form-row:nth-of-type(2n) > * {
  padding-top: 16px;
}

.new-form-header {
  white-space: nowrap;
  padding-right: 8px;
}

.new-form-cell,
.new-form {
  width: 100%;
}

.new-task-form {
  display: block;
  width: calc(100% - 16px);
  margin-top: 8px;
  padding: 8px;
  border: none;
  font-size: 16px;
  outline-color: #ddd;
}

.description {
  min-height: 100px;
}

.new-task-button.button {
  width: 100%;
  max-width: 600px;
  margin: 16px auto 0;
  padding: 16px 16px;
}
