/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
body {
  text-align: center;
}

.title {
  margin-bottom: 0;
}

.title-note {
  margin-top: 0;
}

.tasks {
  width: 100%;
  border: 1px solid;
  border-collapse: collapse;
}

.tasks > tbody > tr:nth-of-type(2n) {
  background-color: #eee;
}

.tasks td {
  border: 1px solid;
}

.new-task {
  width: 100%;
}

.new-form-row:nth-of-type(2n) {
  padding-top: 16px;
}

.new-form-header {
  white-space: nowrap;
  padding-right: 8px;
}

.new-form-cell,
.new-form {
  width: 100%;
}

.description {
  min-height: 300px;
}
